@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,450;1,450&display=swap');
/* Reset Stylesheet */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* General Styling */
body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", serif;
}

:root {
  --background: #fbbf24;
  --dark: #f59e0b;
  --very-dark: #d97706;
  --green: #22c55e;
  --dark-green: #16a34a;
  --blue: #13b4f2;
  --red: #fe3f2f;
  --light-red: #fe6f63;
  --main-height: calc(100vh - 15rem);
}

/* Header Styling */
header {
  height: 12rem;
  background-color: var(--background);
  display: flex;
  justify-content: center;
}

header > a {
  cursor: pointer;
}

header .header-icon {
  width: 14rem;
  height: 14rem;
}

.end-game-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  position: relative;
}

.next-round-button {
  font-size: 1.2rem;
  height: 3rem;
  width: 10.8rem;
  border-radius: 30px;
  border: none;
  background-color: var(--dark-green);
  color: white;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1.5rem;
  animation: pulse 1s infinite ease-in-out;
  cursor: pointer;
  position: relative;
  right: 2rem;
}

.next-round-button:hover {
  background-color: var(--green);
}

.next-round-button:active {
  background-color: var(--red);
}

.restart-button {
  font-size: 1.2rem;
  height: 3rem;
  border-radius: 30px;
  border: none;
  background-color: var(--red);
  color: white;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1.5rem;
  animation: pulse 1s infinite ease-in-out;
  cursor: pointer;
  position: relative;
  right: 2rem;
}

.restart-button:hover {
  background-color: var(--light-red);
}

.restart-button:active {
  background-color: var(--green);
}

/* Dialog Styling */

.start-game-dialog {
  width: 100%;
  height: var(--main-height);
  border: none;
  background-color: var(--background);
}

.start-game-dialog-container {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

@keyframes dialogFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.start-game-dialog.closing {
  animation: dialogFadeOut 1s forwards;
}

.start-game-form {
  display: flex;
  flex-direction: column;
  padding: 1.3rem 2rem 2rem 2rem;
  gap: 1.5rem;
  background-color: white;
  min-width: 40rem;
  min-height: 15rem;
  border-radius: 32px;
  justify-self: center;
  place-items: center;
  box-shadow: 0px 6px 10px 0px rgba(80, 80, 80, 0.8);
}

.start-game-form-header {
  font-size: 1.8rem;
}

.enter-player-name-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.x-icon,
.o-icon {
  width: 4rem;
  height: auto;
}

.player-input-field {
  height: 2.4rem;
  padding-left: 0.8rem;
  width: 15ch;
  font-family: "Rubik";
  border-radius: 30px;
  background-color: var(--very-dark);
  color: white;
  border: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.player-input-field::placeholder {
  color: white;
  font-style: italic;
}

.player-input-field:focus, select:focus {
  background-color: var(--dark);
  outline: none;
}

.player-input-field:hover, select:hover {
  background-color: var(--dark);
}

.versus-icon {
  height: 4rem;
  width: auto;
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.06);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0); 
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0); 
  }
  75% {
    transform: translateY(10px); 
  }
  100% {
    transform: translateY(0);
  }
}

.start-game-button {
  font-size: 1.3rem;
  border-radius: 30px;
  border: none;
  background-color: var(--dark-green);
  color: white;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1.5rem;
  animation: pulse 1s infinite ease-in-out;
  cursor: pointer;
}

.start-game-button:hover {
  background-color: var(--green);
}

.start-game-button:active {
  animation: bounce 0.3s ease-in-out;
  background-color: var(--red);
}

/* Main Body Styling */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: var(--main-height);
  overflow-y: auto;
  background-color: var(--background);
}

.game-state-display-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.game-container {
  display: flex;
}

.player-one-info,
.player-two-info {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
}

.player-one-icon,
.player-two-icon {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.player-one-score,
.player-two-score {
  font-size: 1.5rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.player-score-update {
  transform: scale(1.2);
  opacity: 0.8;
}

.player-icon-update {
  transform: scale(1.2);
  opacity: 0.8;
}

.player-one-score {
  margin-right: 3rem;
}

.player-two-score {
  margin-left: 3rem;
}

.game-board {
  min-width: 23rem;
  min-height: 23rem;
  display: grid;
  gap: 0.4rem;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: var(--background);
}

.game-button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: white;
  padding: 0;
  font-size: 4rem;
}

.game-button[data-marked="false"]:active {
  animation: bounce 0.3s ease-in-out;
}

/* Footer Styling */
footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit {
  display: flex;
  gap: 0.3rem;
}

footer a {
  text-decoration: none;
  color: var(--very-dark);
  transition: color 0.3s ease; 
}

footer a:hover {
  color: var(--dark);
  }

.credit img {
  height: 1.2rem;
  width: 1.2rem;
}